// =============================================================================
// Dependencies - Custom
// =============================================================================

// Remember to import stylesheets/base if you need to include any global Sass
// variables that you create. This is necesary because Webpack does not use a
// traditional load order in the asset pipeline
// @link http://bensmithett.com/smarter-css-builds-with-webpack/

@import 'stylesheets/base';


// =============================================================================
// Dependencies - Bootstrap
// =============================================================================

// This is an example of how to override default Bootstrap variables. A list of
// available variables can be found at
// @link https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/_variables.scss
$font-family-sans-serif: $source-sans-pro;
$navbar-inverse-bg: $base16-ocean--01;
$navbar-inverse-border: $navbar-inverse-bg;

// It is not recommended that you adjust the path for the icon-font-path as this
// will cause Webpack to fail while bundling styles
$icon-font-path: '../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

@import '~bootstrap-sass/assets/stylesheets/bootstrap';


// =============================================================================
// Custom Styles
// =============================================================================

html {
	background-color: #f0141e;
}

body {
  // Visual
  background-color: $base16-ocean--07;
}

.navbar-default {
	background-color: white;
	border-color: white;
	
}

ul {
	list-style-type: none;
}

li {
	display: inline;
}

a {
	color: black;
	font-weight: 600;
}

a:hover {
	text-decoration: none;
	color: #b50f16;
}

.marvel-nav {
	margin-top: 10px;
	font-size: 42px;
	float: left;
}

.other-nav {
	margin-top: 35px;
	margin-right: 50px;
	font-size: 18px;
	float: right;
}

.viewing {
	margin-top: 100px;
}
