div.background  
  div.container
    div.row
      div.col-sm-7
        div.welcome
        img(src='http://www.flickeringmyth.com/wp-content/uploads/2014/05/stan-lee.jpg' width='575' height='400')
      div.col-sm-5
        div.welcome
          h1.welcome__title
            span Welcome to {{ dm.title }}! 
            h4 Helping you keep track of your Marvel comic books collection since 2015.