div.background  
  div.container
    div.row
      div.col-sm-6
        div.welcome
        p I want to make sure this is placing it correctly.
      div.col-sm-6
        div.welcome
          h1.welcome__title
            span The {{ dm.title }} 
            h4 Helping you keep track of your comic collection since 2015.