
div.search
	div.container
		div.search-box 
			input(type='text', placeholder='Title Starts With...', ng-model='dm.searchInput')
			button.btn(ng-click='dm.getComicsByTitleStartsWith(dm.searchInput)') Search
	div.total-results(ng-if='dm.results.length >= 1')
		ul
			li.results(ng-repeat='comic in dm.results')
				img(ng-src='{{comic.images[0].path}}/portrait_fantastic.{{comic.images[0].extension}}') 
				div.text-box
					span.title {{comic.title}} 

			
			
	