div.search(ng-hide='dm.commentForm')
	div.container
		div.search-box
			form 
				input.search-input(type='text', placeholder='Title Starts With...', ng-model='dm.searchInput', required)
				button.btn(ng-click='dm.getComicsByTitleStartsWith(dm.searchInput)') Search
				div.no-bueno-search(ng-if='dm.results.length == 0 && dm.dataLoad')
					img(src='https://hoopertriplett.files.wordpress.com/2010/04/comic-book-guy.png')
					h2.no-bueno-text Worst Search Ever.	
		div.total-results(ng-if='dm.results.length >= 1')
			ul
				li.results(ng-repeat='comic in dm.results')
					div(ng-click='dm.getCommentForm({title:comic.title, description:comic.description, upc:comic.upc, image:comic.images[0].path + "/portrait_fantastic." + comic.images[0].extension})')
						img(ng-src='{{comic.images[0].path}}/portrait_fantastic.{{comic.images[0].extension}}') 
						div.results-all-my-words
							span.results-title {{comic.title}} 
						div.file-not-found(ng-if='comic.images.length == 0')
							img(src='https://hoopertriplett.files.wordpress.com/2010/04/comic-book-guy.png' width='110' height='200')
							h4 Worst Image Ever.
div.form(ng-show='dm.commentForm')
	div.container
		input.comment(type='text', placeholder='Enter in the condition or note for comic', ng-model='dm.commentInput')
		br
		button.btn(ng-click='dm.cancel()') Cancel
		button.btn(ng-click='dm.addComic({description:dm.singleComic[0].description, image:dm.singleComic[0].image, title:dm.singleComic[0].title, upc:dm.singleComic[0].upc, comment:dm.commentInput})') Add Comic
