.search {
	padding-top: 30px;
	background-color: white;
	padding-bottom: 100px;
	padding-left: 18px;
}

.search-box {
	text-align: center;
}

.btn {
	margin-bottom: 10px;
	margin-left: 20px;
	background-color: black;
	color: white;
	font-size: 20px;
}

button:hover {
	color: white;
}

input {
	width: 50%;
	height: 40px;
	font-size: 24px;
	border-radius: 5px;
}

//results portion

.total-results {
	margin-left: 20px;
	background-color: white;
	padding-top: 20px;
	height: 2000px;
}

.results {
	background-color: white;
	height: 300px;
	width: 175px;
	float: left;
	text-align: center;
	margin-top: 15px;	
}

.results-all-my-words {
	margin-left: 3px;
	width: 168px;
	height: 48px;
	background-color: black;
}

.results-title {
	font-size: 16px;
	font-weight: bold;
	color: white;
}

//no bueno
.no-bueno-search {
	width: 50%;
	margin-top: 20px;
	margin-left: 23%;
	text-align: center;
}

.no-bueno-text {
	width: 250px;
	float: left;
	font-size: 72px;
	font-weight: bold;
}

