h1 Search Marvel Comics
div.search
	span.search-box
	input(type='text', placeholder='Title Starts With...', ng-model='dm.searchInput')
	button.btn(ng-click='dm.getComicsByTitleStartsWith(dm.searchInput)') Awesome
	br
	
div.results(ng-if='dm.results.length >= 1')
	ul
		li(ng-repeat='comic in dm.results')
			img(ng-src='{{comic.images[0].path}}/portrait_fantastic.{{comic.images[0].extension}}') 
			span Title: {{comic.title}} 
			span Description: {{comic.description}}
			span UPC: {{comic.upc}} 
			br
			
			
	